main{
    text-align: center;
    padding: 40px;
    background-color: rgb(8, 53, 73);
    box-shadow: 10px;
    width: 40vh;
    height: 40vh;
    padding-top: 10vh;
    margin-left: 75vh;
    border-radius: 5px;
   color: white;
   height: auto;
}

button{
    margin-top: 10px;
    display: flex;
    margin-left:65px;
    background-color: blue;
    color: white;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    cursor: pointer;

}
input{
    margin-left: 10px;
    
}
ul{
    list-style-type: none;
}
li{
    border-bottom: 1px solid black;
    padding: 10px;
}